<div class="row justify-content-md-center">
  <div class="col-md-8">
    <div class="jumbotron text-center">
      <h1 class="display-4">CoverMyMeds Wiki Library</h1>
      <hr class="my-4">
      <p>Create and edit Markdown wikis to share among your colleagures at CoverMyMeds</p>
      <p class="lead">
        <% if current_user %>
          <%= link_to "Go to Wikis", wikis_path, class: 'btn btn-primary btn-lg' %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
          <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-lg' %>
        <% end %>
      </p>
    </div>
  </div>
</div>
<div class="row justify-content-md-center">
  <% if current_user && current_user.standard? %>
    <div class="col-md-8 text-center">
      <h2><%= link_to "Upgrade to Premium today!", new_charge_path %></h2>
      <p class="lead"><%= Faker::Hipster.sentences(2).join(" ") %></p>
    </div>
  <% else %>
    <div class="col-md-6 text-center">
      <h2>Free Plan</h2>
      <p class="lead">Create public wikis and colloborate with other users</p>
    </div>
    <div class="col-md-6 text-center">
      <h2>Premium Plan</h2>
      <p class="lead"><%= Faker::Hipster.sentence %></p>
    </div>
  <% end %>
</div>
