<div class="row">
  <div class="col-sm-7">
    <div class="col-sm-4">
      <h2>All Wikis</h2>
    </div>
    <div class="col-sm-4">
      <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success btn-sm' %>
    </div>
  </div>
  <% if current_user.standard? %>
    <div class="col-sm-5 text-right">
      <h4><%= link_to "Upgrade to Premium", new_charge_path %></h4>
      <p class="lead"><small>Post privately today.</small></p>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="container">
    <table class="table table-hover">
      <thead>
        <td width="80%"><h4>Wiki Title</h4></td>
        <td width="20%"><h4>Actions</h4></td>
      </thead>
      <tbody>
        <% @wikis.each do |wiki| %>
          <tr>
            <td>
              <%= link_to wiki.title, wiki %>
              <% if wiki.private %>
                <b>Private!</b>
              <% end %>
            </td>
            <td>
              <%= link_to "Edit", edit_wiki_path(wiki), class: 'btn btn-primary btn-xs' %>
              <% if policy(wiki).destroy? %>
                <a href='#' class="btn btn-danger" data-toggle="modal" data-target="#<%= wiki.id %>">
                  Delete
                </a>
                <%= render partial: 'delete_modal', locals: {wiki: wiki} %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
